.form {
  box-shadow: 2px 5px 12px #39bb64;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.label {
  width: 300px;
  font-size: 18px;
}

.label:not(:first-child) {
  margin-top: 20px;
}

.input {
  width: 300px;
}

.input:hover,
.input:focus {
  border-radius: 4px;

  transition: all 250ms linear;
}

.btn {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(31, 134, 28);
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: rgb(52, 38, 184);
  background-color: #2be954;

  transition: all 250ms linear;
}
