.nav {
  padding: 15px 20px;
}

.link {
  height: 50px;
  width: 130px;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(220, 228, 228);
  background-color: #137433;
}

.link:hover {
  color: rgb(52, 38, 184);
  background-color: #2be954;

  transition: all 250ms linear;
}

/* .activeLink {
  height: 50px;
  width: 130px;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(34, 109, 179);
  background-color: rgb(46, 24, 141);
} */

/* .activeLink:hover .activeLink:focus {
  background-color: darkkhaki;
} */
