.nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 20px;
}

.link {
  text-align: center;
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(208, 216, 216);
  background-color: #137433;
}

.link:hover {
  color: rgb(52, 38, 184);
  background-color: #2be954;

  transition: all 250ms linear;
}

/* .activeLink {
  text-align: center;
  display: inline-block;
  height: 30px;
  width: 130px;
  padding: 5px 10px;
  margin-right: 50px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(34, 109, 179);
  background-color: rgb(46, 24, 141);
}

.activeLink:hover .activeLink:focus {
  color: darkkhaki;
} */
